.title-payment {
  width: 70%;
  margin: auto;
  margin-top: 6rem;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: red;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 3px 6px #00000029;
}

.payment-container {
  width: 70%;
  min-height: 500px;
  /* background: pink; */
  margin: 0 auto;
  box-shadow: 0 3px 6px #00000029;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
}
