#mainnav {
  /* padding: 10px;
margin: 10px; */
  width: 220px;
  background-color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: rgb(60 64 67 / 10%) 2px 2px 2px 2px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

#mainnav ul {
  list-style: none;
  padding: 0px;
  width: 220px;
  text-align: left;
  color: var(--red-clr);
}

#mainnav ul li {
  position: relative;
  /* width: 200px; */
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #fff;
}

#mainnav ul .thefirst {
  background-color: #fff;
  box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

#mainnav ul li a {
  text-decoration: none;
  color: var(--red-clr);
  /* font-weight: bold; */
  padding: 0 16px;
  display: block;
  text-transform: uppercase;
}

#mainnav ul li a .icon-menu {
  float: right;
  margin-top: 5.2%;
  color: var(--red-cl);
}

#mainnav li:hover {
  background: var(--red-clr);
  margin-left: 15px;
  transition: 0.7s ease;
}

#mainnav li a:hover {
  color: #fff;
}

#mainnav .sub-menu {
  position: absolute;
  left: 200px;
  top: 0px;
  width: 100%;
  display: none;
  text-align: left;
  border-left: 1px solid #fff;
  font-size: 90%;
  border-radius: 0px 10px 10px 0px;
  z-index: 2;
}

#mainnav li:hover .sub-menu {
  display: block;
  background: var(--main-cl);
  color: red;
  font-weight: bold;
  box-shadow: 0px 2px 5px 3px #bfb5b5;
}

#mainnav .sub-menu2 {
  position: absolute;
  left: 200px;
  top: 0;
  width: 200px;
  border-left: 1px solid #fff;
  border-radius: 0px 10px 10px 0px;
  /* display: none; */
}

#mainnav .sub-menu li:hover .sub-menu2 {
  display: block;
}
