.right-prd-dt .select-area select {
  width: 100%;
}

.right-prd-dt .address-area {
  overflow: auto;
  /* height: 150px; */
  margin-top: 1rem;
}

.right-prd-dt .address-area ul {
  list-style-type: decimal;
  margin: 0;
  padding: 0;
}

.right-prd-dt .address-area::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
  height: 2px;
}

.right-prd-dt .address-area::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px 0 3px 6px #00000029;
  background-color: gray;
}

.right-prd-dt .address-area::-webkit-scrollbar-track {
  border-radius: 10px;
}

.right-prd-dt .offer-area {
  border: 1px solid rgb(71, 71, 231);
  border-radius: 5px;
  /* padding: 10px; */
  margin-top: 1rem;
}

.right-prd-dt .offer-area .offer-title {
  background: rgb(71, 71, 231);
  text-align: center;
  font-size: 20px;
  color: #f5f5f5;
}

.right-prd-dt .offer-area ul {
  list-style-type: decimal;
}

.right-prd-dt .offer-area ul li {
  line-height: 23px;
  font-size: 14px;
}

.right-prd-dt .advise-area {
  border: 1px solid yellow;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: rgb(241, 241, 136);
}

.right-prd-dt .advise-area .sub-advise {
  background: red;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

.right-prd-dt .advise-area .sub-advise form {
  margin-top: 10px;
}

.right-prd-dt .advise-area .sub-advise form button {
  background: green;
  color: white;
}

.right-prd-dt .advise-area ul {
  list-style-type: decimal;
  margin-top: 1rem;
  padding-right: 1rem;
  color: black;
}

.right-prd-dt .installment-btn {
  display: flex;
}

.right-prd-dt .installment-btn button {
  margin: 10px;
  padding: 5px;
  background: blue;
}

.right-prd-dt .btn-payment:hover {
  background: green;
}

.right-prd-dt .btn-payment {
  width: 100%;
  background: red;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 5px;
}

.right-prd-dt .btn-payment a {
  text-decoration: none;
  float: none;
  color: white;
}

.right-prd-dt .btn-payment a span {
  display: block;
  font-size: 15px;
}

.right-prd-dt .banner-prd-dt img {
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
}
