.my-rate {
  margin-top: 1rem;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 10px;
}



.my-rate b {
  font-size: 20px;
  display: block;
  margin-top: 1rem;
}

.my-rate .text-rate {
  font-size: 20px;
  color: red;
  padding: 0;
  margin: 0;
}

.my-rate .star-rate {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.my-rate .my-text-rate {
  width: 100%;
  border: 1px solid lightgray;
  margin-top: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  outline: 1px solid var(--red-clr);
}

.my-rate .btn-rate {
  padding: 3px;
  border: 1px solid red;
  background-color: red;
  color: white;
  font-size: 20px;
  width: 20%;
  border-radius: 4px;
}
