.menu-shop ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 10px;

}

.menu-shop ul li {
    padding: 15px;
    background: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 14px;
    box-shadow: 4px 5px 10px grey
}

.menu-shop ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}
