* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}
.sidebar-container {
  width: 250px;
  margin-left: 10px;
  box-shadow: 2px 2px 2px 2px #cac5c5;
  border-radius: 5px;
}
.sidebar-container .title-admin {
  width: 100%;
  height: 80px;
  width: 100%;
  height: 60px;
  display: inline-flex;
  background: var(--red-clr);
  border-radius: 5px;
}
.sidebar-container .title-admin .logo-sidebar {
  width: 90px;
  height: 60px;
}
.sidebar-container .title-admin p {
  margin-bottom: 1rem;
  margin-top: 15px;
  font-family: var(--main-font);
  font-size: 20px;
  color: white;
  text-align: center;
  width: 100%;
  font-weight: bold;
}
.sidebar-container .nav-link-sidebar {
  margin-top: 15px;
  margin: 0;
  padding: 0;
}
.sidebar-container .nav-link-sidebar li {
  width: 100%;
  height: 50px;
  list-style: none;
}
.sidebar-container .nav-link-sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.5s ease;
}

.sidebar-container .nav-link-sidebar li a:hover {
  background: var(--red-clr);
  width: 93%;
  border-radius: 5px;
  color: white;
}
.sidebar-container .nav-link-sidebar li a i {
  min-width: 60px;
  text-align: center;
  font-size: 30px;
}
.sidebar-container .nav-link-sidebar li a span {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--main-font);
  font-weight: bold;
}
.sidebar-container .nav-link-sidebar .link-name {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--main-font);
  font-weight: bold;
}
