.header-payment {
  display: flex;
  justify-content: space-between;
}

.header-payment a {
  text-decoration: none;
  color: red;
}
.header-payment i {
  font-size: 20px;
  padding: 0;
  margin-right: 5px;
}
.header-payment button {
  display: flex;
  width: 144px;

  margin: 10px 0 0 10px;
}
